body {
  display: flex;
  flex-direction: column; /* Stack h3 above the SVGs */
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: oldlace;
}

h1 {
  margin-bottom: 20px;
  margin-right: 450px;
}

.svg-container {
  position: relative; 
  display: inline-block; 
  padding: 100px; 
  display: flex;
  justify-content: center; 
  gap: 200px;
  background: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

svg {
  transform: scale(8);
}

.arrow {
  transform-origin: 50% 100%;
}